:root {
    --base-color: grey;
    --display-color: olive;
    --button-color: hsl(32, 82%, 65%);
}

main {
    width: 300px;
    border: 4px outset black;
    background-color: var(--base-color);
}

.display, button {
    font-family: monospace;
    font-size: 40px;
}

.display {
    color: white;
    text-align: right;

    background-color: var(--display-color);
    border-radius: 10px;
    border: 5px inset black;
    margin: 20px;
    height: 30px;
    line-height: 30px;
    padding: 10px 5px;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
}

button {
    font-size: 18px;
    background: none;
    border: 4px outset black;
    margin: 3px;
    width: 68px;
    height: 68px;
    border-radius: 5px;
    flex-grow: 1;
}

.operation, .special-btn {
    background-color: var(--button-color);
}

.selected {
    background-color: hsl(32, 82%, 75%)
}